body {
    min-width: 1200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    background: #849d8f;
    color: #ffffff;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

h1{
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.container{
    width: 1146px;
    margin: 0 auto;

    /* Только для оформления сетки */
    outline: 2px solid yellow;
}

.main-header{
    padding-top: 7px;
    min-height: 74px;

    /* Только для оформления сетки */
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.header-logo{
    width: 154px;
    height: 64px;
    display: inline-block;
    vertical-align: middle;

    /* Только для оформления сетки */
    /*outline: 2px solid yellow;*/
    /*background: rgba(234, 255, 45, 0.2);*/
}

.main-navigation{
    width: 500px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 7px;
}

.main-navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li{
    display: inline-block;
    position: relative;
}

.main-navigation a{
    display: block;
    color: #ffffff;
    text-decoration: underline;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    padding: 7px 10px 7px 14px;
}

.main-navigation a:hover{
    background: #f7f6f3;
    color: #323232;
    border-radius: 15px;
    text-decoration: none;
}

.main-navigation a:active{
    box-shadow: inset 0 2px 1px 0 #696969;
}

.main-navigation .i-here{
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    padding: 7px 10px 7px 14px;
    background: #d07058;
    border-radius: 15px;
}

.main-navigation .i-here:hover{
    background: #d07058;
    color: #323232;
    border-radius: 15px;
    text-decoration: none;
}

.main-navigation .sub-menu{
    display: none;
    position: absolute;
    background: #f7f6f4;
    color: #323232;
    border-radius: 5px;
    top: 100%;
    left: -7px;
    padding-bottom: 3px;
    /*padding-top: 5px;*/
    box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.4);
    border-top: 3px solid transparent;
}

.sub-menu li{
    padding: 2px 0;
}

.sub-menu a{
    text-decoration: none;
    font-weight: normal;
    padding: 6px 20px;
    width: 103px;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
}

.sub-menu li:hover, .sub-menu a:hover{
    background: #fbded8;
}

.sub-menu li:active, .sub-menu a:active{
    background: #f6b5a5;
    box-shadow: none;
}

.sub-menu .sub-i-here,
.sub-menu .sub-i-here:hover,
.sub-menu .sub-i-here:hover a{
    background: #f6b5a5;
}

.main-navigation li:hover .sub-menu{
    display: block;
}

.main-navigation .sub-menu .product-new{
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 10px;
}

.main-navigation .sub-menu .product-new::after{
    content: "";
    height: 1px;
    background: #000000;
    width: 100%;
}

.header-right{
    position: relative;
    float: right;
    min-width: 280px;
}

.header-right-top{
    margin-top: 14px;
    text-align: right;
}

.header-right-top .icon{
    display: inline-block;
    background: #9db2a7;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    vertical-align: top;
}

.header-search {
    display: inline-block;
}

.header-right-top .icon-search{
    display: inline-block;
    width: 33px;
    height: 33px;
    background: #9db2a7 url("../img/icon-search1.png") no-repeat center;
    margin-right: 5px;
}

form[name="search"]{
    display: none;
    position: absolute;
    top: 54px;
    right: 223px;
    background: #f8f7f4;
    box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 20px;
}

form[name="search"] input{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    width: 309px;
}

.icon-search:hover{
    background: #f8f7f4 url("../img/icon-search2.png") no-repeat center;
}

.icon-search:hover form[name="search"]{
    display: block;
}

.header-login {
    display: inline-block;
    vertical-align: top;
}

.header-right-top .icon-enter{
    background: #9db2a7 url("../img/icon-enter1.png") no-repeat 14px center;
    padding: 6px 15px 6px 40px;
}

form[name="avtorization"]{
    display: none;
    position: absolute;
    right:125px;
    top: 53px;
    background: #f8f7f4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.4);
    z-index: 10;
}

.form-enter-email input, .form-enter-password input{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    margin-bottom: 20px;
    width: 240px;
}

.form-enter-submit, .form-enter-link{
    display: inline-block;
}

.form-enter-submit{
    float: left;
}

.form-enter-submit input{
    background: #f16442;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.btn{
    display: block;
    background-image: linear-gradient(to bottom, #f16743, #e84c36);
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(160,32,11, 0.7);
    cursor: pointer;
}

.btn:hover{
    background-image: linear-gradient(to bottom, #f48569, #ed705e);
    box-shadow: 0 2px 2px 0 #ac1000;
    color: #ffffff;
}

.btn:active{
    background-image: linear-gradient(to bottom, #d84833, #e1613e);
    box-shadow: 0 -2px 2px 0 #ac1000;
}

.form-enter-link{
    float: right;
}

.form-enter-link ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.form-enter-link a{
    color: #323232;
}

.form-enter-link a:active, a:hover{
    color: #e84d37;
}

.icon-enter:hover{
    color: #e4e3e0;
    background: #f8f7f4 url("../img/icon-enter2.png") no-repeat 16px center;
}

.header-login:hover form[name="avtorization"]{
    display: block;
}

.header-cart{
    display: inline-block;
    margin-left: 7px;
}

.header-right-top .icon-cart{
    background: #9db2a7 url("../img/icon-cart1.png") no-repeat 14px center;
    padding: 6px 31px 6px 41px;
}

.cart-modal{
    display: none;
    position: absolute;
    width: 540px;
    background: #f8f7f4;
    right: 0;
    top: 50px;
    color: #323232;
    padding: 15px 10px 15px 15px;
    border-radius: 5px;
    box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.4);
}

.cart-modal table{
    text-align: left;
    padding: 5px;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.cart-price{
    color: #999999;
}

.itogo{
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    font-weight: bold;
}

.order-submit{
    text-decoration: none;
    float: right;
}

.header-right-bottom{
    position: absolute;
    right: 0;
    top: 52px;
    text-align: right;
}

.header-time{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.header-phone{
    font-size: 22px;
    line-height: 24px;
    font-weight: bolder;
    margin-top: -10px;
}

.slider{
    height: 584px;
    padding-top: 0;
    margin-bottom: -20px;

    /* Только для оформления сетки */
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}
.slider img{
    display: block;
    margin: 0 auto;

    /*Только для оформления сетки*/
    outline: 2px solid green;
    background: rgba(0, 128, 0, 0.2);
}

.main{
    padding-top: 0;
}

.actions{
    /*Только для оформления сетки*/
    /*background: rgba(255, 45, 82, 0.2);*/
    /*outline: 2px solid red;*/
}

.action {
    height: 200px;
    width: 520px;
    margin-bottom: 38px;
    border-radius: 18px;
    padding: 16px 20px;
}

.action-left{
    float: left;
    background: url("../img/action-left.jpg") no-repeat 50%;
}

.action-right{
    float: right;
    background: url("../img/action-right.jpg") no-repeat 50%;
}

.action-caption{
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    margin-top: 1px;
}

.action-text{
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: -19px;
    margin-bottom: 43px;
}

.action .btn{
    float: right;
    padding: 11px 22px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 23px;
}


.product-item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 267px;
    min-height: 335px;
    margin-right: 22px;
    margin-bottom: 22px;
}

.product-item:nth-child(4n){
    margin-right: 0;
}

.product-item-img img{
    border-radius: 50%;
}

.product-item__hit{
    position: absolute;
    top: 0;
}

.product-item__price{
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    position: absolute;
    top: 165px;
}

.product-item__price-small{
    font-size: 30px;
    line-height: 45px;
}

.product-item__name{
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    /*text-decoration: underline;*/
    margin-top: 8px;
    text-align: center;

}
.product-item__name a{
    color: #ffffff;
}

.product-item:hover{
    background: #9db1a5;
}

.product-item:hover .product-item__name a {
    text-decoration: none;
    color: #ffffff;
}

.about{
    margin-bottom: 38px;
    /*min-height: 248px;*/
    padding: 21px 20px 15px 20px;
    background: url("../img/wafer-pattern.jpg");
    width: 1106px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    /* Только для оформления сетки */
    /*background: rgba(255, 45, 82, 0.2);*/
    /*outline: 2px solid red;*/
}

.about-caption{
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 12px;
}

.about-item p{
    color: #323232;
    margin-top: 10px;
    margin-bottom: 12px;
}

.about-left-top, .about-left-bottom{
    float: left;
    width: 480px;
    /*margin-left: 20px;*/
    /* Только для оформления сетки */
    /*min-height: 78px;*/
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.about-right-top, .about-right-bottom{
    float: right;
    width: 480px;
    margin-right: 42px;

    /* Только для оформления сетки */
    /*min-height: 78px;*/
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.about-right-top, .about-left-top{
    /*margin-bottom: 10px;*/
}

.about-left-top{
    background: url("../img/about-left-top.png") no-repeat;
    padding-left: 58px;
    margin-top: 0;
}

.about-left-bottom{
    background: url("../img/about-left-bottom.png") no-repeat;
    padding-left: 58px;
    margin-top: 0;
}

.about-right-bottom{
    background: url("../img/about-right-bottom.png") no-repeat;
    padding-left: 58px;
    margin-top: 0;
}

.about-right-top{
    background: url("../img/about-right-top.png") no-repeat;
    padding-left: 58px;
    margin-top: 0;
}

.news-subscribe{
    margin-bottom: 38px;
}

.news{
    float: left;
    display: block;
    width: 285px;
    background: #ffffff url("../img/news.jpg") no-repeat 204px center;
    border-radius: 15px;
    padding: 23px 255px 62px 20px;
    color: #323232;
}

.news p{
    font-weight: normal;
    margin: 0;
}

.news h2{
    margin-top: 4px;
    text-decoration: underline;
}

.news a{
    color: #000000;
}

.news a:hover, .news a:active{
    color: #e84d37;
}

.subscribe{
    float: right;
    width: 548px;
    background: #000 url("../img/postal-pattern.jpg");
    border-radius: 15px;
    padding: 5px;
}

.subscribe-container{
    display: block;
    background: #f8f7f4;
    color: #5a5a5a;
    border-radius: 15px;
    padding: 28px 20px 13px 20px;
}

.subscribe p{
    margin: 0 0 39px 0;
}
.subscribe-container input{
    display: inline-block;
}
.subscribe-container input[type="email"]{
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 14px;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    margin-bottom: 20px;
    width: 352px;
    margin-right: 8px;
}

.subscribe-container input[type="submit"] {
    padding: 12px 23px;
}

.contacts-main{
    width: 100%;
    height: 430px;
    /* Только для оформления сетки */

    outline: 2px solid yellow;
    background: rgba(234, 255, 45, 0.2);
}

.contacts-main .container{
    position: relative;
}

.contacts-main .contacts{
    position: absolute;
    top: -365px;
    right: 0;
    background: #ffffff;
    border-radius: 15px;
    color: #323232;
    padding: 29px 23px 30px 23px;
    text-align: left;
    width: 254px;
    /* Только для оформления сетки */
    /*outline: 2px solid blue;*/

}

.contacts-main .contacts p{
    margin: 0 50px 0 0;
    font-size: 14px;
    line-height: 20px;
}

.contacts-main .contacts .contact-bold{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin: 1px 25px 20px 0;
}

.contacts-main .contacts .contacts-phone{
    margin: 1px 25px 3px 0;
}

.contacts-main .contacts .contacts-btn{
    margin-top: 25px;
    padding: 10px 28px;
    font-size: 18px;
    line-height: 24px;
}

.main-footer{
    padding-top: 21px;
    padding-bottom: 25px;
}

.footer-social{
    float: left;
    margin-top: 18px;
}

.social-btn img{
    border: 3px solid #c2cec7;
    border-radius: 50%;
    opacity: 0.8;
    margin-right: 8px;
    background: #849d8f;

}

.social-btn:hover img{
    opacity: 1;
}

.social-btn:active img{
    box-shadow: inset 0 -2px 0 5px #888888;

}

.footer-nav{
    float: left;
    margin: 16px 0 0 204px;
}

.footer-nav a{
    display: block;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 3px;
}

.footer-nav a:hover,
.footer-nav a:active,
.footer-copyright p a:hover,
.footer-copyright p a:active{
    color: #ffbc9e;
}

.footer-nav-left{
    margin-right: 27px;
    display: inline-block;
}

.footer-nav-right{
    display: inline-block;

}

.footer-nav-left .heart{
    font-weight: bold;
}

.footer-nav-left .heart::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 13px;
    padding-left: 7px;
    background: url("../img/heart.png") no-repeat;
}

.footer-nav-left a:not(.heart){
    padding-left: 22px;
}

.footer-copyright{
    float: right;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
}

.footer-copyright p a{
    color: #ffffff;
}

.footer-copyright p{
    margin: 0;
}
.main-catalog{
    padding-top: 18px;
}

.breadcrumbs{

    /* Только для оформления сетки */
    min-height: 16px;
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.caption{
    margin: 0;

    /* Только для оформления сетки */
    min-height: 16px;
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.filter{
    margin-bottom: 30px;

    /* Только для оформления сетки */
    min-height: 165px;
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.product-catalog{
    margin-bottom: 35px;
}

.pager{
    float: right;
    height: 30px;
    margin-bottom: 28px;

    /* Только для оформления сетки */
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.filter-top{
    margin-bottom: 15px;
}

.filter-select{
    float: left;
    width: 193px;
    margin-right: 15px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.filter-price{
    float: left;
    width: 219px;
    margin-right: 15px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.filter-radio{
    float: left;
    width: 416px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.filter-checkbox{
    float: left;
    width: 703px;
    margin-right: 15px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.breadcrumbs ul,
.pager{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li{
    display: inline-block;
}

.breadcrumbs-link{
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.breadcrumbs li:after{
    content: " >> ";
}

.breadcrumbs li:last-child:after{
    content: " ";
}

.pager li{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: top;
    border-radius: 50%;
    line-height: 25px;
}

.pager__one{
    border-radius: 50%;
    background: #ffffff;
    color: #000000;
}

.pager li a{
    text-decoration: none;
    color: #ffffff;
}

.pager li:hover{
    background: #9db1a5;
}

.pager li a:hover{
    color: #000000;
}

.pager li:active{
    background: #ffffff;
}