body {
    min-width: 1200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    background: #849d8f;
    color: #ffffff;
    /*margin: 0;*/
    /*padding: 0;*/
    /*background-size: 1200px auto;*/

}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.container{
    width: 1146px;
    margin: 0 auto;

    /* Только для оформления сетки */
    outline: 2px solid yellow;
    /*background: rgba(234, 255, 45, 0.2);*/
}

.main-header{
    padding-top: 7px;
    min-height: 74px;

    /* Только для оформления сетки */
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.header-logo{
    width: 154px;
    height: 64px;
    display: inline-block;
    vertical-align: middle;

    /* Только для оформления сетки */
    /*outline: 2px solid yellow;*/
    /*background: rgba(234, 255, 45, 0.2);*/
}

.main-navigation{
    width: 500px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 7px;

    /* Только для оформления сетки */
    /*outline: 2px solid yellow;*/
    /*background: rgba(234, 255, 45, 0.2);*/
}

.main-navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li{
    display: inline-block;
    position: relative;
}

.main-navigation a{
    display: block;
    color: #ffffff;
    text-decoration: underline;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    padding: 7px 10px 7px 14px;
}

.main-navigation a:hover{
    background: #f7f6f3;
    color: #323232;
    border-radius: 15px;
    text-decoration: none;
}

.main-navigation .sub-menu{
    display: none;
    position: absolute;
    background: #f7f6f4;
    color: #323232;
    border-radius: 5px;
    top: 38px;
    left: -7px;
    padding-bottom: 5px;
    padding-top: 3px;
}

.sub-menu li{
    padding: 2px 0;
}

.sub-menu a{
    text-decoration: none;
    font-weight: normal;
    padding: 6px 20px;
    width: 103px;
    font-size: 14px;
    line-height: 16px;
    color: #323232;

}

.sub-menu li:hover, .sub-menu a:hover{
    background: #fbded8;
}

.sub-menu li:active, .sub-menu a:active{
    background: #f6b5a5;
}

.main-navigation li:hover .sub-menu{
    display: block;
}

.main-navigation .sub-menu .product-new{
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 10px;
}

.header-right{
    position: relative;
    float: right;
    min-width: 280px;

    /* Только для оформления сетки */
    min-height: 64px;
    outline: 2px solid yellow;
    background: rgba(234, 255, 45, 0.2);
}

.header-right-top{
    margin-top: 14px;
    text-align: right;

    /*Только для оформления сетки*/
    outline: 2px solid green;
    background: rgba(0, 128, 0, 0.2);
}

.header-right-top .icon{
    display: inline-block;
    height: 32px;
    background: #9db2a7;
    border-radius: 20px;
    line-height: 34px;
    color: #ffffff;
    text-decoration: none;
}

.header-search {
    display: inline-block;
}

.icon-search{
    padding: 0 8px;
}

.header-login{
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

.icon-enter::before{
    content: "";
    display: inline-block;
    width: 21px;
    height: 19px;
    margin-right: 7px;
    margin-top: 6px;
    background: url("../img/icon-enter1.png") no-repeat 50%;
}

.icon-enter{
    padding: 0 15px;
}

form[name="avtorization"]{
    display: none;
    position: absolute;
    right:125px;
    top: 53px;
    background: #f8f7f4;
    border-radius: 5px;
    padding: 20px;
}

.form-email input, .form-password input{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    margin-bottom: 20px;
    width: 240px;
}

.form-submit, .form-link{
    display: inline-block;
}

.form-submit{
    float: left;
}

.form-submit input{
    background: #f16442;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.btn{
    display: block;
    background: #f16442;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.form-link{
    float: right;
}

.form-link ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.form-link a{
    color: #323232;
}

.icon-enter:hover{
    color: #e4e3e0;
    background: #f8f7f4;
}

.icon-enter:hover::before{
    content: "";
    background: url("../img/icon-enter2.png") no-repeat 50%;
}

.header-login:hover form[name="avtorization"]{
    display: block;
}



.header-cart{
    display: inline-block;
    margin-left: 7px;
}

.icon-cart::before{
    content: "";
    display: inline-block;
    width: 21px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    background: url("../img/icon-cart1.png") no-repeat 50%;
}

.icon-cart{
    padding: 0 30px 0 15px;
}

.cart-modal{
    display: none;
    position: absolute;
    width: 540px;
    background: #f8f7f4;
    right: 0;
    top: 50px;
    color: #323232;
    padding: 15px 10px 15px 15px;
    border-radius: 5px;
}

.cart-modal table{
    text-align: left;
    padding: 5px;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.cart-price{
    color: #999999;
}

.itogo{
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    font-weight: bold;
}

.order-submit{
    text-decoration: none;
    float: right;
}

.header-right-bottom{
    min-width: 175px;

    /* Только для оформления сетки */
    min-height: 50px;
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.slider{
    height: 584px;
    padding-top: 0;
    margin-bottom: -20px;

    /* Только для оформления сетки */
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}
.slider img{
    display: block;
    margin: 0 auto;

    /*Только для оформления сетки*/
    outline: 2px solid green;
    background: rgba(0, 128, 0, 0.2);
}

.main{
    padding-top: 0;
}

.actions{
    /*Только для оформления сетки*/
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.action {
    height: 230px;
    width: 560px;
    margin-bottom: 36px;

    /* Только для оформления сетки */
    outline: 2px solid yellow;
    background: rgba(234, 255, 45, 0.2);
}

.action-left{
    float: left;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.action-right{
    float: right;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.product-list{

    /* Только для оформления сетки */
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.product-item{
    display: inline-block;
    vertical-align: top;
    width: 267px;
    min-height: 335px;
    margin-right: 22px;
    margin-bottom: 25px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.product-item:nth-child(4n){
    margin-right: 0;
}

.about{
    margin-bottom: 38px;
    min-height: 248px;
    padding: 30px 0;

    /* Только для оформления сетки */
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.about-left-top, .about-left-bottom{
    float: left;
    width: 540px;
    margin-left: 20px;

    /* Только для оформления сетки */
    min-height: 78px;
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.about-right-top, .about-right-bottom{
    float: right;
    width: 540px;
    margin-right: 20px;
    /* Только для оформления сетки */
    min-height: 78px;
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.about-right-top, .about-left-top{
    margin-bottom: 10px;
}

.news-subscribe{
    margin-bottom: 38px;

    /* Только для оформления сетки */
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.news{
    float: left;
    width: 560px;

    /* Только для оформления сетки */
    min-height: 220px;
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.subscribe{
    float: right;
    width: 560px;

    /* Только для оформления сетки */
    min-height: 220px;
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.contacts-main{
    position: relative;
    width: 100%;

    /* Только для оформления сетки */
    min-height: 430px;
    outline: 2px solid yellow;
    background: rgba(234, 255, 45, 0.2);
}

.contacts{
    float: right;
    min-height: 304px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.main-footer{
    padding-top: 16px;

    /* Только для оформления сетки */
    min-height: 103px;
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.footer-social{
    float: left;
    width: 186px;
    margin-top: 18px;

    /* Только для оформления сетки */
    min-height: 38px;
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.footer-nav{
    float: left;
    margin: 0;
    margin-top: 18px;
    width: 560px;

    /* Только для оформления сетки */
    min-height: 38px;
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.footer-copyright{
    float: right;
    width: 267px;

    /* Только для оформления сетки */
    min-height: 60px;
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.main-catalog{
    padding-top: 18px;
}

.breadcrumbs{

    /* Только для оформления сетки */
    min-height: 16px;
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.caption{
    margin: 0;

    /* Только для оформления сетки */
    min-height: 16px;
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.filter{
    margin-bottom: 30px;

    /* Только для оформления сетки */
    min-height: 165px;
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.product-catalog{
    margin-bottom: 35px;
}

.pager{
    float: right;
    height: 30px;
    margin-bottom: 28px;

    /* Только для оформления сетки */
    background: rgba(255, 45, 82, 0.2);
    outline: 2px solid red;
}

.filter-top{
    margin-bottom: 15px;
}

.filter-select{
    float: left;
    width: 193px;
    margin-right: 15px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.filter-price{
    float: left;
    width: 219px;
    margin-right: 15px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.filter-radio{
    float: left;
    width: 416px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}

.filter-checkbox{
    float: left;
    width: 703px;
    margin-right: 15px;

    /* Только для оформления сетки */
    outline: 2px solid blue;
    background: rgba(0, 0, 255, 0.2);
}